a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat500";
  src: url(../font/Montserrat/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat400";
  src: url(../font/Montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat600";
  src: url(../font/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat700";
  src: url(../font/Montserrat/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url(../font/Oswald/static/Oswald-Medium.ttf) format("truetype");
}

.text-info {
  font-family: "Montserrat500", sans-serif;
}

.text-heading {
  font-family: "Oswald", sans-serif;
}

.text-white {
  color: rgba(255, 255, 255, 1);
}

.text-explanation {
  font-family: "Montserrat400", sans-serif;
}

.text-blue {
  color: rgba(47, 72, 88, 1);
}

.text-black {
  color: rgba(6, 6, 6, 1);
}

.text-small {
  font-size: 14px;
}

.text-medium {
  font-size: 18px;
}

.text-large {
  font-size: 24px;
}

.text-big {
  font-size: 30px;
}

/* up button style */

.button-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(169, 169, 169, 0.5);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.button-up-hidden {
  position: absolute;
  right: 20px;
  bottom: 80px;
  visibility: hidden;
  border-radius: 50%;
  background-color: rgba(169, 169, 169, 0.5);
  width: 50px;
  height: 50px;
}

.js-button-up-stopped {
  position: absolute;
  right: 20px;
  bottom: 80px;
}

.arrow {
  color: rgba(47, 72, 88, 1);
  font-size: 20px;
}

/* overlay menu */

.overlay-control {
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 13;
}

.menu-btn {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}

.menu-close {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  cursor: pointer;
}

.overlay {
  /*visibility: hidden;*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.overlay-navbar .navbar-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-navbar .navbar-nav .nav-item {
  padding-top: 40px;
}

.language-list {
  display: flex;
}

.language-item {
  padding-left: 20px;
}

.language-item:first-child {
  padding: 0;
}

/* navigation section style */
.container-navigation-section {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  height: 90px;
  display: flex;
  padding-left: 65px;
  padding-right: 12px;
}

.container-navigation-section::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3vw;
  min-height: 35px;
  background: url(../img/navTop.svg) bottom center;
  background-size: 150%;
}

.header-navbar {
  width: 100%;
  align-self: center;
}

.header-navbar .navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.header-navbar .nav-item {
  margin-left: 35px;
}

.header-navbar .nav-item:last-child {
  margin-left: 55px;
}

/* main style */
.container-main {
  text-align: center;
}
/* video section style */
.video {
  position: relative;
  bottom: 50px;
  z-index: 1;
}

.video-img {
  width: 100%;
  height: auto;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13%;
}

/* description style */
.container-description-section {
  padding: 100px 350px 150px;
}
/* galery style */

.container-galery-section {
  position: relative;
}

.galery-svg-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
}

.galery-svg-bot {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
}

.galery-pictures {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1px 0;
  overflow: hidden;
}

.grouped-pictures {
  display: flex;
}

.grouped-small-pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.galery-picture {
  width: 100%;
  height: 100%;
  max-height: 364px;
  object-fit: cover;
}

/* page button style */

.page-button {
  border-style: none;
  background: rgba(255, 168, 0, 1);
  cursor: pointer;
  outline: 0;
}

.page-button:hover {
  background: rgba(255, 203, 102, 1);
}

.page-button:active {
  background: rgba(205, 124, 32, 1);
}

/* action section style */
.container-action-section {
  padding: 150px 168px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.action-button {
  margin-top: 50px;
  padding: 0 50px;
  height: 50px;
  border-radius: 30px;
}

/* contact form section style */
.container-contact-form-section {
  padding: 150px 377px 85px;
}
.contact-form {
  margin-top: 55px;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 43px 43px 232px;
  column-gap: 20px;
  row-gap: 15px;
  grid-template-areas:
    "name email"
    "tel tel"
    "message message";
}

.input-name {
  grid-area: name;
}

.input-email {
  grid-area: email;
}

.input-tel {
  grid-area: tel;
}

.input-text {
  grid-area: message;
}

.input-field {
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  border-style: none;
  padding: 13px 12px 10px;
}

.input-field::placeholder {
  color: rgba(47, 72, 88, 1);
  font-family: "Montserrat400", sans-serif;
  font-size: 18px;
}

.form-end {
  text-align: left;
}

.contact-button {
  border-radius: 30px;
  margin-top: 50px;
  padding: 0 62px;
  height: 62px;
}

/* checkbox style */

[type="checkbox"] {
  position: absolute;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  display: inline-block;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: #e7e7e7;
  border-radius: 3px;
}

[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background: url(../img/checkmark.jpg) no-repeat center;
  background-size: 80%;
  border-radius: 3px;
}

/* Sponsor section style */
.container-sponsor-section {
  position: relative;
  top: 80px;
  z-index: 7;
  background: url(../img/Subtract.svg);
  background-size: cover;
  padding: 100px 168px 235px;
}

.sponsor-logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 89px 0 0;
}

.sponsor-logo {
  max-height: 100%;
}

/* Footer style */
.container-footer {
  position: relative;
  z-index: 8;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 72px;
  background: url(../img/footer.svg);
  background-size: cover;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.gold-logo {
  max-width: 182px;
  max-height: 182px;
}

.footer-navbar .navbar-nav .nav-item {
  padding-bottom: 21px;
}

.heading-company-info {
  margin-bottom: 22px;
}

.heading-company-info-sm {
  visibility: hidden;
}

.company-info-list .list-item {
  padding-bottom: 22px;
}

.contact-info {
  text-align: right;
}

.button-assets {
  visibility: hidden;
  font-family: "Montserrat700", sans-serif;
}

.social-media {
  padding-top: 30px;
}

.social-media-icon {
  padding-left: 29px;
  font-size: 36px;
}

.container-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;
}

.container-copyright-inner {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1400px) {
  body {
    position: relative;
  }

  .menu-btn {
    visibility: visible;
  }

  .header-navbar {
    display: none;
  }
  .container-description-section {
    padding: 150px 80px;
  }

  .container-action-section {
    padding: 150px 80px 0;
  }

  .galery-picture {
    max-height: 300px;
  }

  .action {
    margin-top: 80px;
  }

  .container-contact-form-section {
    padding: 150px 80px 85px;
  }

  .container-sponsor-section {
    padding: 100px 80px 235px;
  }

  .sponsor-logo {
    margin-top: 30px;
  }
  .footer-navbar {
    display: none;
  }

  .company-assets {
    display: none;
  }
  .container-copyright-inner {
    flex-direction: row;
  }

  .heading-company-info {
    visibility: hidden;
    margin: 0;
  }

  .heading-company-info-sm {
    visibility: visible;
    padding-top: 25px;
  }
}

@media only screen and (max-width: 900px) {
  .container-description-section {
    padding: 150px 20px;
  }
  .galery-pictures {
    flex-wrap: wrap-reverse;
  }

  .container-action-section {
    padding: 150px 40px 0;
  }

  .galery-picture {
    max-height: 250px;
    overflow: hidden;
  }

  .action {
    margin-top: 80px;
  }

  .action-button {
    height: 60px;
    width: 320px;
  }

  .container-contact-form-section {
    padding: 120px 20px 55px;
  }

  .container-sponsor-section {
    padding: 100px 20px 235px;
  }

  .sponsor-logo {
    max-width: 220px;
    max-height: 150px;
  }

  .container-footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-content {
    flex-direction: column;
  }

  .contact-info {
    padding-top: 25px;
    text-align: left;
  }

  .social-media-icon {
    padding-left: 0;
    padding-right: 29px;
  }

  .button-assets {
    visibility: visible;
  }

  .container-copyright {
    flex-direction: column;
    align-items: initial;
  }
}

/* js-class */

.js-choosen {
  font-family: "Montserrat600", sans-serif;
  border-bottom-style: solid;
  border-color: rgba(255, 168, 0, 1);
  border-bottom-width: 5px;
}

.js-hidden {
  visibility: hidden;
}
